body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

svg {
    display: block;
    border: 1px solid #333;x
}

.tp-table {
    width: 100%;
    border-collapse: collapse; /* Fusionne les bordures */
    margin: 20px 0;
    background-color: #fff;
}

.tp-table th, .tp-table td {
    border: 1px solid #000; /* Bordure noire simple */
    padding: 12px;
    text-align: left;
}

.tp-table th {
    background-color: #eee;
    font-weight: bold;
}

/* RESTE DU STYLE (Learning notes) */
.learning-notes {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-left: 5px solid #000;
    font-style: italic;
    color: #444;
}

.nav {
    text-align: center;
    padding: 50px;
    gap: 20px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}