/* --- QUESTION 2 : Scroll fluide --- */
html {
    scroll-behavior: smooth;
}

/* --- Mise en forme des blocs --- */
div {
    width: 600px;
    margin-left: 250px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    /* NOTE : On a retiré "display: none" pour qu'ils soient tous visibles */
}

div h2 { text-align: center; }

div p {
    border-style: solid;
    border-width: 3px;
    padding: 15px;
    text-align: justify;
}

/* --- Menu Fixe --- */
ul {
    position: fixed;
    top: 50px;
    left: 20px;
    width: 200px;
    list-style-type: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    padding: 5px;
}

/* --- Couleurs (conservées de l'exercice précédent) --- */
ul li:nth-child(1) a { color: red; }
#paragraphe1 h2 { color: red; }
#paragraphe1 p { border-color: red; }

ul li:nth-child(2) a { color: green; }
#paragraphe2 h2 { color: green; }
#paragraphe2 p { border-color: green; }

ul li:nth-child(3) a { color: blue; }
#paragraphe3 h2 { color: blue; }
#paragraphe3 p { border-color: blue; }


/* --- Style du bouton Retour en haut  --- */
.btn-retour {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-family: sans-serif;
}

.btn-retour:hover {
    background-color: #555;
}