/* CONTAINER PRINCIPAL */
#container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: #D84FD8;
	gap: 10px;
	padding: 10px;
}

/* ITEM 1 & ITEM 4 */
#item1, #item4 {
	height: 50px;
}

/* CONTENU CENTRAL */
#content {
	display: flex;
	gap: 10px;
	flex: 1;
}

/* ITEM 2 */
#item2 {
	width: 25%;
}

/* COLONNE DU MILIEU */
#middle {
	display: flex;
	flex-direction: column;
	width: 75%;
	gap: 10px;
}

/* ITEM 5 */
#item5 {
	height: 50px;
}

/* ZONE CENTRALE (ITEM 6 + DROITE) */
#center {
	display: flex;
	gap: 10px;
	flex: 1;
}

/* ITEM 6 */
#item6 {
	width: 66.66%;
}

/* COLONNE DROITE */
#right {
	display: flex;
	flex-direction: column;
	width: 33.33%;
	gap: 10px;
}

/* ITEM 7 */
#item7 {
	flex: 1;
}

/* ITEM 8 */
#item8 {
	height: 100px;
}

/* ITEM 3 */
#item3 {
	height: 50px;
}

/* COULEURS */
#item1 { background-color: #F16B08; }
#item2 { background-color: #B2F109; }
#item3 { background-color: #23F109; }
#item4 { background-color: #3050F0; }
#item5 { background-color: #FBB5E9; }
#item6 { background-color: #0AF1AD; }
#item7 { background-color: #E8F571; }
#item8 { background-color: #31838F; }

body {
	font-family: Arial, Helvetica, sans-serif;
}

.nav {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
    text-align: center;
    padding: 20px;
	gap: 10px;
}
