/* --- 1. Structure Globale du Tableau --- */
table {
    border-collapse: collapse;
    width: 90%;
    margin: 30px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* --- 2. Le Titre --- */
caption {
    background-color: #808080;
    border: 1px solid black;
    border-bottom: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.8em;
    padding: 8px;
    color: black;
}

/* --- 3. Cellules et Bordures --- */
th, td {
    border: 1px solid black;
    padding: 5px 8px;
    text-align: left;
    vertical-align: middle;
}

th {
    text-align: center;
}


/* --- 4. Gestion des Couleurs par rangées --- */
tr:first-child {
    background-color: black;
    color: white;
    font-weight: bold;
}

/* B. Le bloc "Pseudo-élément" */
tr:nth-child(n+2):nth-child(-n+5) {
    background-color: #d99694; 
}

/* C. Le bloc "Sélecteur d'attribut" */
tr:nth-child(n+6):nth-child(-n+12) {
    background-color: #92d050; 
}

/* D. Le bloc "Pseudo-classe de structure" */

tr:nth-child(n+13) {
    background-color: #9cc2e5; 
}

/* --- 5. La colonne "Syntaxe" --- */
td:first-child {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 1.1em;
    background-color: rgba(255, 255, 255, 0.15);
}